<div class="container-fluid col-md-10 col-md-offset-1">
  <div id="songs_container">
    <%= render @songs %>
  </div>
  <div class="col-md-12 top-buffer">
    <div id="select-album", style="display:none;"></div>
    <% if user_signed_in? %>
    <div class=" col-md-3 col-md-offset-1 text-left"><%= link_to "Add Song", artist_albums_path(@artist), remote: true %></div>
    <div class="col-md-4 text-center"> <%= link_to "Delete All Songs", delete_all_songs_path(@artist.id), method: :post, remote: true %></div>
    <div class="col-md-4 text-right"><%= link_to "Delete Artist", artist_path(@artist), method: :delete, data: {confirm: "Are you sure?"} %></div>
    <div cass="col-md-12"> &zwnj; </div>
    <div cass="col-md-12">  &zwnj;</div>
    <% end %>
  </div>
</div>
