<div class="container-fluid col-md-10 col-md-offset-1">
  <h3 class="text-center">Select Album to Add Song To:</h3>
  <div id="albums">
    <%= render @albums %>
  </div>
  <div class="col-md-12">
    <%= link_to "Add new album", new_artist_album_path(@artist.id), remote: true %>
    <div id="new-album-form" style="display:none;"></div>
  </div>
</div>
